* {
  margin: 0px;
  padding: 0px;
}

html, body {
  height: 100%;
  width: 100%;
}

a {
  width: 100px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-family: "Times New Roman";
  font-variant: small-caps;
}

a:focus, a:hover {
  color: rgb(47, 34, 38);
  background-color: #F0EBE5;
  text-decoration: none;
}

.main {
  height: 100%;
  width: 100%;
  background-image: url("../img/ibm7291.jpg");
  background-position: center;
  display: flex;
  flex-direction: column;
}

form {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

input {
  width: 200px;
  border-width: 0px;
  text-align: center;
  font-family: "Times New Roman";
  font-variant: small-caps;
}

.menu {
  margin-top: 360px;
  display: flex;
  justify-content: center;
  background-color: rgba(47, 34, 38, 0.7);
}

.links {
  display: flex;
  justify-content: center;
}

.link-container {
  height: 10px;
}

.void {
  height: 1px;
  width: 100px;
}

a.list-group-item {
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  color: white;
  background-color: rgba(47, 34, 38, 0.7);
}

a.list-group-item:hover {
  background-color: #F0EBE5;
}

.list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}